*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363636;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .banner{
    width: 100%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15em;
    display: inline-block;
    margin: 10px 20px 40px 100px;
    height: 40vh;
  }
  
  .js{
    margin: 20px 0 20vh 35vw ;
    width: 20em;
    height: 10em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: block;
    text-align: center;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: aqua;
  }
  
  .container {
    padding: 2px 16px;
  }

  .card img{
    height: 40vh;
  }

  footer {
    margin-top: 20px;
    text-align: center;
    padding: 3px;
    background-color: rgb(47, 47, 47);
    color: white;
  }
  @media only screen and (max-width: 600px) {
    .js, .card{
      margin: 10vh auto;

      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      display: block;
      text-align: center;
    }
    footer{
      margin-top: 20vh;

    }
  }